# Ignore target directory
target/

# Ignore application.properties file
/src/main/resources/application.properties

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Include source files
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

HELP.md